

<div style="padding: 10px; background-color: rgb(245, 54, 92);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
<a mat-raised-button class="navbar-brand" [routerLink]="['/mfg']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manufacturing</a>/<a mat-raised-button [routerLink]="['/mfg-1']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manufacturing-1</a>/<a mat-raised-button [routerLink]="['/mfg-2']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manufacturing-2</a>/<a mat-raised-button [routerLink]="['/mfg-3']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manufacturing-3</a>
</div>

<div class="retail" fxLayout="row"  fxLayout.xs="column" fxLayoutAlign="center center">

        
    <div fxLayout="row" fxLayoutGap="15px">
    <mat-card style="height: 400px; width: 400px;">
        <h1>this is mfg</h1>
    </mat-card>
    <mat-card style="height: 400px; width: 400px;">
        <h1>this is mfg</h1>
    </mat-card>
    <mat-card style="height: 400px; width: 400px;">
        <h1>this is mfg</h1>
    </mat-card>
    </div>
    

</div>
<div class="retail" fxLayout="row"  fxLayout.xs="column" fxLayoutAlign="center center">

    
<div fxLayout="row" fxLayoutGap="15px">
<mat-card style="height: 400px; width: 560px;">
    <h1>this is mfg</h1>
</mat-card>
<mat-card style="height: 400px; width: 560px;">
    <h1>this is mfg</h1>
</mat-card>

</div>


</div>

