
<div class="branding">

<mat-nav-list  color="primary">




        <a mat-list-item>
            <div class="dropdown">
                <a  routerLink="" >Retail</a>
                <div class="dropdown-content">
                  <a  routerLink="/retail-1" (click)="onSidenavClose()">Retail-1</a>
                  <a routerLink="/retail-2" (click)="onSidenavClose()">Retail-2 </a>
            
                </div>
              </div>
        </a>
        <a mat-list-item>
            <div class="dropdown">
                <a  routerLink="/mfg"    >Manufacturing</a>
                <div class="dropdown-content">
                    <a routerLink="/mfg-1">MFG-1</a>
                    <a routerLink="/mfg-2">MFG-2</a> 
                    <a routerLink="/mfg-3">MFG-3</a>
            
                </div>
              </div>
        </a>
        <a mat-list-item>
            <div class="dropdown">
                <a  routerLink="/monitor">Monitoring</a>
                <div class="dropdown-content">

                <a routerLink="/nfc">NFC</a>
                <a routerLink="/aie">A.I.E.</a> 
            
                </div>
              </div>
        </a>


    
        

   
      </mat-nav-list>

</div>